@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    /* TryTravelTrip Blue Theme */
    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 120 33% 10%;
    --secondary-foreground: 0 0% 100%;

    --tertiary: 6 93% 71%;
    --tertiary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;

    --disabled: 270 2% 82%;
    --disabled-foreground: 276 2% 56%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221 83% 53%;

    --radius: 0.5rem;
  }

  .dark {
    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 100%;
    --ring: 221 83% 53%;
  }
}

@layer base {
  * { @apply border-border; }
  body { @apply bg-background text-foreground; }
  section { @apply mx-auto px-[2%]; }
}

@layer utilities {
  .active { @apply border-b-2 border-b-primary; }

  .golobe-scrollbar {
    scrollbar-color: hsl(var(--primary)) hsl(var(--secondary));
    scrollbar-width: thin;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
